[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
youtube-dl = {editable = true, path = "."}
archiveboxmatic = {editable = true, path = "."}
schedule = "*"

[requires]
python_version = "3.9"
