[Unit]
Description=archiveboxmatic_monthly.service

[Service]
Type=oneshot
WorkingDirectory=%h/Documents/archiveboxmatic
# Pipenv Installation
# ExecStart=.venv/bin/archiveboxmatic -s monthly
# Classic Installation
ExecStart=python3 archiveboxmatic -s monthly

[Install]
WantedBy=multi-user.target
