[Unit]
Description=archiveboxmatic.service

[Service]
Type=simple
WorkingDirectory=%h/Documents/archiveboxmatic
# Pipenv Installation
# ExecStart=.venv/bin/archiveboxmatic -s all --debug
# Classic Installation
ExecStart=python3 archiveboxmatic -s all --debug

[Install]
WantedBy=multi-user.target
