[Unit]
Description=archiveboxmatic_daily.service

[Service]
Type=oneshot
WorkingDirectory=%h/Documents/archiveboxmatic
# Pipenv Installation
ExecStart=.venv/bin/archiveboxmatic -s daily
# Classic Installation
# ExecStart=archiveboxmatic -s daily

[Install]
WantedBy=multi-user.target
