[Unit]
Description=archiveboxmatic_yearly.timer

[Timer]
# OnCalendar=yearly
OnCalendar=*-01-01 01:00:00
Persistent=true

[Install]
WantedBy=timers.target
